<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <li
        class="list-group-item"
        style="cursor:pointer"
        *ngFor="let ingrediant of ingrediants"
      >
        {{ ingrediant.name }} ({{ ingrediant.amount }})
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <p app-highlight>This Content is highlighted.</p>
  <p appBetteHighlight [highlightedColor]="'black'" [defaultColor]="'red'">
    This is better Highlighted.
  </p>
</div>
