<div *ngIf="!selectedReceipe">
  <h3>Please Select A Receipe!!</h3>
</div>
<div *ngIf="selectedReceipe">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="selectedReceipe.imageURL" alt="" class="img-responsive" style="height:200px;width:250px" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ selectedReceipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appToggleDropdown="">
        <button type="button" class="btn btn-primary dropdown-toggle  ">
          Manage Receipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="addIngrediantsToShoppingList()" style="cursor:pointer">To Shopping List</a>
          </li>
          <li>
            <a style="cursor:pointer" (click)="editReceipe()">Edit Receipe</a>
          </li>
          <li><a style="cursor:pointer">Delete Receipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>{{ selectedReceipe.description }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingrediant of selectedReceipe.ingrediants">
          {{ ingrediant.name }} ({{ ingrediant.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>
